body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    overflow-y: hidden;
}

:root {
    color-scheme: light;
}

mark {
    border-radius: 5px;
}

@keyframes onLoad {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#switchTheme {
    position: relative;
    border: 1px solid #121212;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    opacity: 0;
    animation: forwards 1s onLoad;
    animation-delay: 2.5s;
}

#switchTheme:hover {
    cursor: pointer;
}

#sunImage {
    font-size: 30px;
    animation: infinite 20s rotate;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

#manualList {
    position: relative;
    border: 1px solid #121212;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    opacity: 0;
    animation: forwards 1s onLoad;
    animation-delay: 2.5s;
}

#manualList:hover {
    cursor: pointer;
}

#listImage {
    font-size: 30px;
}

h1 {
    text-align: center;
    animation: forwards 1s onLoad;
}

table,
th,
td {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid;
}

table {
    z-index: -1;
    max-width: 95vw;
    width: max-content;
    margin-inline: auto;
    text-align: center;
    font-size: 1.25em;
    border-radius: 10px;
    border-collapse: collapse;
    opacity: 0;
    animation: forwards 1s onLoad;
    animation-delay: 0.5s;

    -webkit-box-shadow: 0px 0px 150px 50px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: 0px 0px 150px 50px rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 150px 50px rgba(255, 255, 255, 0.25);
}

th {
    padding-inline: 5px;
}

td {
    padding: 15px;
}

.subject:hover {
    cursor: pointer;
}

#hourOfTheDay {
    opacity: 0;
    animation: forwards 1s onLoad;
    animation-delay: 1s;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.instructions {
    opacity: 0;
    animation: forwards 1s onLoad;
    animation-delay: 1.5s;
}

#up {
    bottom: 2em;
}

#up2 {
    bottom: 4em;
}

.blue {
    font-weight: bold;
    color: #2994ff;
}

.red {
    font-weight: bold;
    color: #ff4949;
}

/* Occouring Events */

@keyframes toOpaque {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#occouring-events {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20vw;
    border-left: 1px solid;
    overflow-y: scroll;
    opacity: 0;
    animation: forwards 2s toOpaque;
    animation-delay: 2s;
}

#occouring-events > h2 {
    text-align: center;
}

.events {
    background-color: #ffffff;
    color: #000000;
    width: 15vw;
    min-height: 7.5vw;
    border: 1px solid;
    border-radius: 20px;
    padding: 5px 10px;
    margin-inline: auto;
    margin-bottom: 2vh;

    -webkit-box-shadow: 0px 0px 75px 20px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0px 0px 75px 20px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 75px 20px rgba(255, 255, 255, 0.2);
}

.events > p > span {
    font-weight: bold;
}

.easy {
    color: #48b400;
}

.medium {
    color: #f19400;
}

.hard {
    color: #ff0000;
}

/*For Width*/

@media (max-width: 1650px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    #occouring-events {
        position: relative;
        display: flex;
        flex-direction: row;
        height: 50vh;
        min-width: 100vw;
        border-top: 1px solid;
        border-left: 0;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    #occouring-events > h2 {
        margin-top: calc(50vh / 2 - 2em);
        margin-left: 1vw;
    }

    .events {
        background-color: #ffffff;
        color: #000000;
        min-width: 20vw;
        min-height: 7.5vw;
        border: 1px solid;
        border-radius: 20px;
        padding: 5px 10px;
        margin-inline: 2vw;
        margin-top: 2vh;
    }
}

@media (max-width: 925px) {
    table {
        font-size: 1em;
    }
}

@media (max-width: 775px) {
    td {
        padding: 15px 10px;
    }
}

@media (max-width: 725px) {
    td {
        padding: 10px 5px;
    }
}

@media (max-width: 575px) {
    body {
        font-size: 0.75em;
    }

    td {
        padding: 5px;
    }

    #switchTheme {
        width: 30px;
        height: 30px;
    }

    #sunImage {
        font-size: 15px;
    }

    #manualList {
        width: 30px;
        height: 30px;
    }

    #listImage {
        font-size: 15px;
    }
}

@media (max-width: 450px) {
    body {
        font-size: 0.5em;
    }
}

/*For Height*/

@media (max-height: 870px) {
    body {
        overflow-y: scroll;
    }

    .instructions {
        position: initial;
    }
}
