body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    overflow-y: hidden;
}

:root {
    color-scheme: light;
}

mark {
    border-radius: 5px;
}

@keyframes onLoad {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#switchTheme {
    position: relative;
    border: 1px solid #121212;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    opacity: 0;
    animation: forwards 1s onLoad;
}

#switchTheme:hover {
    cursor: pointer;
}

#sunImage {
    font-size: 30px;
    animation: infinite 15s rotate;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

#manualList {
    position: relative;
    border: 1px solid #121212;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    opacity: 0;
    animation: forwards 1s onLoad;
}

#manualList:hover {
    cursor: pointer;
}

#listImage {
    font-size: 30px;
}

h1 {
    opacity: 0;
    text-align: center;
    animation: forwards 1s onLoad;
    animation-delay: 0.5s;
    margin-top: -15px;
}

table,
th,
td {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid;
}

table {
    z-index: -1;
    max-width: 95vw;
    width: max-content;
    margin-inline: auto;
    margin-top: -10px;
    text-align: center;
    font-size: 2em;
    border-radius: 10px;
    border-collapse: collapse;
    opacity: 0;
    animation: forwards 1s onLoad;
    animation-delay: 1s;

    box-shadow: 0px 0px 16px 0px rgba(18, 18, 18, 0.75);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(18, 18, 18, 0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(18, 18, 18, 0.75);
}

th {
    padding-inline: 10px;
}

td {
    padding: 20px;
}

.subject:hover {
    cursor: pointer;
}

#hourOfTheDay {
    opacity: 0;
    animation: forwards 1s onLoad;
    animation-delay: 1.5s;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: -0.5em;
}

#weather {
    opacity: 0;
    animation: forwards 1s onLoad;
    animation-delay: 1.5s;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

/* Occouring Events */

@keyframes toOpaque {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.text-img {
    height: 1.35em;
    transform: translateY(0.25em);
}

/*For Width*/

@media (max-width: 1650px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

@media (max-width: 925px) {
    table {
        font-size: 1em;
    }
}

@media (max-width: 775px) {
    td {
        padding: 15px 10px;
    }
}

@media (max-width: 725px) {
    td {
        padding: 10px 5px;
    }
}

@media (max-width: 575px) {
    body {
        font-size: 0.75em;
    }

    td {
        padding: 5px;
    }

    #switchTheme {
        width: 30px;
        height: 30px;
    }

    #sunImage {
        font-size: 15px;
    }

    #manualList {
        width: 30px;
        height: 30px;
    }

    #listImage {
        font-size: 15px;
    }
}

@media (max-width: 450px) {
    body {
        font-size: 0.5em;
    }
}

/*For Height*/

@media (max-height: 870px) {
    body {
        overflow-y: scroll;
    }
}
